
<form action="/login" method="POST" id="form">
  <h2>Login</h2>
  <p>{{ title}}</p>

  <label for="username">Username</label>
  <input type="text" name="email">

  <label for="password">Password</label>
  <input type="password" name="password">

   <button type="submit"> envoyer</button>

  <p class="account-message">
  

  </p>

<p class="account-message">
   
  </p>

</form>